.body {
    background-color: rgb(248, 234, 190) ;
}

.container {
    margin: 0px;
    padding: 0px;
    font-family: $brand-font;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar {
    width: fit-content;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    padding-bottom: 500px;
  }
  
  .top-bar {
    flex: 4;
  }
  
  .h2 {
    font-size: 20px;
  }
  
  @media (max-width: 767px) {
    .container {
    width: auto;
    } 
}