/* Colors */
$sidebar-color: #000000;
$brand-main-color: #FFA200;
$header-color: #979797;
$link-color: #56819F;
$button-color: #F58220;
$sidebar-text-color: white;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Roboto', sans-serif;
$logo-font: 'Pattaya', sans-serif;