.links {
  background-color: $sidebar-text-color;
  margin-left: 15px;
  padding-left: 15px;
  width: 120%;
  padding-bottom: 20px;
  ;

  h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
    }

  .table-links {
    align-content: center;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
}

tr {
  padding-right: 60px;
  font-weight: bold;
  
  td {
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 30px;
  }

  a {
    text-decoration: none;
    color: $link-color;
  }
  
  i {
    visibility: hidden;
  }

  .fas.fa-link {
    color: $brand-main-color;
  }
}

.table-links tr:hover {
  background-color: #f5f5f2;
  opacity: 0.8;
  border-collapse: collapse;

  i {
    visibility: visible;
  }
}

.btn {
  background-color: $brand-main-color;
  width: 120px;
  padding: 8px 8px 8px 20px;
  border-radius: 3px;
  margin-left: 250px;

  a {
    text-decoration: none;
    color: $sidebar-text-color;
  }
}

.links-content {
  padding-left: 200px;
}

@media (max-width: 767px) {
  .links .scroll-wrapper {
    margin-left: -170px;
  }
  
  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
    
  }

  .links-content .btn {
    margin-left: -100px;

  }

  .table-links {
    font-size: 12px;

    tr td:first-of-type {
      width: 90px;
    }

    tr td:nth-child(2) {
      width: 150px;
    }
  }
}
