.payout {
  background-color: $sidebar-text-color;
  margin-left: 15px;
  padding-left: 15px;
  width: 135%;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;

  h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
    }
}

.table-top {
  align-content: center;
  border-collapse: collapse;
  width: 70%;
  margin-left: 150px;
}

.table-payout {
  align-content: center;
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 150px;
}

  tr {
    padding-right: 60px;
    font-weight: bold;
    
  td {
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 30px;
    }
  
  a {
    text-decoration: none;
    color: $link-color;
    }
  }

.table-payout tr:hover {
    background-color: #f5f5f2;
    opacity: 0.8;
    border-collapse: collapse;
}

.table-date {
  color: $header-color;
}

.date-table {
 display: inline;
 padding: 8px 12px;
 border-radius: 2px;
}

.date-table:hover {
  background: #e3e3e3;
  opacity: 0.8;
}

.pages-list {
  margin-left: 320px;
  li{
    list-style-type: none;
    display: inline;
    padding: 5px 10px;
  }
  
  a {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;
  }
  
  img {
    width: 12px;
    height: 12px;
    color: $link-color;
  }

  li:hover {
    background: #e3e3e3;
    border-radius: 2px;
  }
}

@media (max-width: 767px) {
  .payout {
    visibility: hidden;
  }
}