.postback {
  background-color: $sidebar-text-color;
  margin-left: 15px;
  padding-left: 15px;
  width: 110%;
  padding-bottom: 20px;
  
  h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
  }

  p {
    font-weight: bold;
  }

  .title-textarea {
    display: inline-flex;
    width: 135%;
    
    h4 {
      margin-right: 515px;
    }

    h4:last-of-type {
      margin-right: 0;
    }
  }

  .textarea {
    display: inline-flex;
    margin-right: 15px;
  }  

  .formlogin-2 {
    display: inline;
    border: 1px solid;
    border-color: $header-color;
    padding: 5px;
    height: 45px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 20px;
    
    img {
      height: 12px;
      width: 18px;
      color: $header-color;
      padding-right: 0;
      margin-right: 0;
    }

    input {
      width: 280px;
      outline: none;
      border: 0;
    }
  }

  .secondrow {
    margin-top: 40px;
    margin-bottom: -15px;

    h4 {
      padding-right: 235px;
      display: inline;
      
    }

    h4:nth-child(2) {
      padding-right: 248px;
    }
  }
}

.send-statuses {
    display: inline;
    width: 120%;
    
    button[type="submit"] {
      border: 0;
    }
  }

  .statuses {
    display: inline-block;
    height: 170px;
    margin-top: 50px;
    padding-right: 20px;
    padding-top: 20px;
    border-top: 1px solid $header-color;

    ul {
      overflow: hidden; 
      overflow-y: scroll;
      display: inline-block;
      height: inherit;

      li {
        list-style: none;
        margin-top: 20px;
        width: 400px;
      }

      input[type="checkbox"]{
        margin-right: 20px;
      }
    }
  }

  .statuses:last-of-type {
    width: 553px;
    border-right: 0;
    margin-left: -4px;
    border-left: 1px solid $header-color;
    padding-bottom: 250px;
    
    input[type="range"] {
      width: 360px;
    }
    ul {
      overflow-y: hidden;
      border-right: 0;
    }
  }

 button[type="submit"] {
    margin-top: 25px;
    margin-left: 800px;
    border-color: $brand-main-color;
    color: $sidebar-text-color;
    font-weight: bold;
    padding-right: 12px;
    padding-left: 8px;
  }

.create_pixel {
  border-top: 1px solid $header-color;  
}

@media (max-width: 767px) {
  .postback {
    visibility: hidden;
  }
}
