.addUrl {
  background-color: $sidebar-text-color;
  margin-left: 15px;
  padding-left: 15px;
  width: 115%;
  padding-bottom: 20px;
  
  h2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: $header-color;
  }
  
  h4 {
    display: inline;
    font-weight: bold;
    padding-right: 330px;
  }
  
  .last {
    padding-right: 0px;
    padding-left: 40px;
  }
  
  input {
    border: none;
    margin-left: 5px;
    margin-top: 15px;
    padding-right: 0;
    margin-right: 0;
    height: 25px;
    color: $header-color;
    width: 120px;
  }
  
  input:last-of-type {
    width: 80px
  }
  
  .formlogin:last-of-type {
    padding-right: 20px;
  }
  
  .formlogin {
    display: inline;
    border: 1px solid;
    border-color: $header-color;
    padding: 5px;
    height: 45px;
    padding-right: 330px;
    margin-right: 10px;
    border-radius: 3px;
      
    img {
      height: 12px;
      width: 18px;
      color: $header-color;
    }
  }
  
  .england {
    padding-right: 15px;
  }
}

.checkboxlist{
  border-top: 1px solid;
  margin-top: 40px;
  height: 360px;
  color: black;
  border-color: $header-color;
  padding-top: 15px;
  
  h4 {
    color: $header-color;
  }

  .list {
    overflow: hidden; 
    overflow-y: scroll;
    height: inherit;

    ul {
      display: inline-block;
      overflow-y: hidden;
    }
  }

  li {
    list-style: none;
    padding-bottom: 9px;

    .fas.fa-sign-out-alt {
      border-left: 0;
      float: right;
      visibility: hidden;
    }
  }

  li:hover {
    background-color: $header-color;
    opacity: 0.2;
    color: black;
    font-weight: bold;
    
    .fas.fa-sign-out-alt {
      visibility: visible;
      color: black;  
    }
  }
}


.generated-link {
  border-top: 1px solid;
  margin-top: 60px;
  border-color: $header-color;
  padding-top: 15px;
  display: inline-flex;

  .btn {
    margin-left: 0;
  }
 }

.formlogin-3 {
  border: 1px solid;
  border-color: $header-color;
  padding: 5px;
  height: 35px;
  padding-right: 450px;
  margin-right: 10px;
  border-radius: 3px;

  input[type="text"] {
    width: 120px;
    margin-top: 0;
  }
}

.formlogin-3:last-of-type {
  border: 0;
  padding-right: 10px;
  margin-top: -4px;

  .btn {
    padding-left: 40px;
  }
} 

.formlogin-3:nth-child(2) {
  border: 0;
  padding-right: 20px;
  margin-top: -4px;

  .btn {
    background-color: $header-color;
    color: $sidebar-text-color;
    width: 150px;
  }

  img {
    background-color: none;
    color: $sidebar-text-color;
    padding-left: 0;
    margin-left: 0;
    width: 30px;
    height: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .addUrl {
    visibility: hidden;
  }
}