.logo {
  border-bottom: 2px solid;
  border-color: $header-color;
  margin-bottom: 25px;
}

.logo ul {
  font-family: $logo-font;
  font-size: 20px;
  padding-left: 5px;
  list-style-type: none;
  color: $sidebar-text-color;
  display: inline-flex;
  
}
.logo li {
  display: inline;
  padding-right: 0px;
  margin-right: 0px;

  a {
    text-decoration: none;
    color: $sidebar-text-color
  }
}

.logo i {
  padding-left: 52px;
  margin-right: 12px;
}

.menu {
  margin-left: -42px;
}

.menu li {
  font-size: 15px;
  list-style-type: none;
  padding-bottom: 25px;
  padding-left: 0px;
  text-decoration: none;
  color: $sidebar-text-color;

  :hover {
    background-color: $header-color;
    border-left: 3px solid;
    border-left-color: $brand-main-color;
    padding: 5px 20px;
  }
}

.menu a {
  color: $sidebar-text-color;
  text-decoration: none;
  padding-left: 8px;
  
  :hover {
    border-left: 0;
    padding-left: 0;
  }
}

.menu i {
  padding-right: 8px;
  padding-left: 0px;
  margin-left: 0;
}

.manager {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 2px solid;
  border-color: $sidebar-text-color;
  
  h3 {
    font-size: 16px;
    color: $sidebar-text-color;
  }

  a {
    text-decoration: none;
    color: $sidebar-text-color;
    
    :hover {
      color: $link-color;
    }
  }

  img {
    padding-right: 15px;
  }
}

.top-in-sidebar {
  visibility: hidden;
  
  a {
    color: $header-color;
    text-decoration: none;
    border: 0;
  }

  .wallet {
    padding-top: 40px;
    color: $header-color;
    border-right: 0;
    border-left: 0;
  }

 .fas.fa-wallet {
    border-left: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    margin-top: 0;
    padding-right: 10px;
  }

  .far.fa-bell {
    padding-top: 10px;
  }

  .fas.fa-sign-out-alt {
    padding-top: 8px;
  }

  .top-menu-sidebar {

    a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    i {
      border: 0;
      padding-left: 5px;
      padding-right: 10px;;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-menu.show {
    display: block;
  }
  
  .top-in-sidebar {
    visibility: visible;
  }
  .main-menu {
    display: none;
  }
  .sidebar {
    width: auto;
    padding-bottom: 5px;
  }
  
  .logo {
    padding-left: 30px;

    i {
      padding-left: 150px;
    }
  }
}